import styles from './{{name}}.module.scss'
import { Props } from '.'

/*
-----------------------------------------------------
Name: {{componentName name}}
Description: {{description}}
Usage:

```tsx
<{{componentName name}}>Amazing</{{componentName name}}>
```
-----------------------------------------------------
*/

const {{componentName name}} = ({ children }: Props) => (
  <div className={styles.container}>{children}</div>
)

export default {{componentName name}}
